.spacing-fix {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.spacing-fix-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.btn-fix {
  margin: 10px;
}

.img-fix {
  margin-top: 50px;
}

.centered {
  text-align: center;
}
